# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build
/.vercel

# local files
.DS_Store
*.pem
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# generated brand selection previews
.brand-preview/
